// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  position: absolute;
  left: 20px;
  text-shadow:1px 1px 0 rgba(0, 0, 0, 0, 0.75);
  background-color:rgba(0, 0, 0, 0, 0.75);
  border-radius:3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
